<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= form_with(model: [ @category, @product ], local: true) do |form| %>
  <%= form.label 'Nombre' %>
  <%= form.text_field :name %>
  <%= form.label 'Precio' %>
  <%= form.number_field :price %>
  <%= form.submit %>
<% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
